<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>

  </head>
  <body>



    <div class="banner" style="text-align:center; background-color:red; color:white">

      <h1>To Do List</h1>
    </div>

    <nav >
    <a href="/">Home</a>
    <a href="/todo">Create</a>
   </nav>


    {{!-- <nav>
      <ul>
        <li><a href="/">view All</a></li>
        <li><a href="/todo">Create a List</a></li>
      </ul>
    </nav> --}}

    <div class="">
      {{{ body }}}
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {{!-- <script src="./controllers/todos_controller.js" charset="utf-8"></script> --}}
  </body>
</html>
